---
name: Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
permissions:
  contents: read

jobs:
  check-diff:
    name: check-diff
    runs-on: ubuntu-latest
    container: registry.fedoraproject.org/fedora:latest
    steps:
      - name: Install dependencies
        run: dnf install -y git-core
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Run self-test
        run: check-diff/check-diff.py --selftest .
